PORT=4000
NODE_ENV=development
DATABASE_URL=postgresql://kepler:kepler_password@localhost:5432/kepler_exchange?schema=public&connection_limit=30
REDIS_URL=redis://localhost:6379
JWT_SECRET=kepler_super_secret_jwt_key_2026
JWT_REFRESH_SECRET=kepler_super_secret_refresh_jwt_key_2026
SIMULATION_MODE=false
